<!--Contacto-->

<section class="parallax" data-aos-offset="500"id="contacto">
    <h1 data-aos="slide-down"class="display-4 p-5 text-center mb-4 text-uppercase font-weight-bold text-white ">Contacto</h1>
    <div class="formulario-contacto col-12">
      <div class="container">
        <div class="row">
          <div  data-aos="slide-right" class="col-lg-6 col-md-12 ">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_tW99ax.json" mode="bounce" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
          </div>
          <div  class="col-lg-6 col-md-12">
            <div class="contenido-formulario ">
              <form action="https://formspree.io/f/mwkalpke" class="contact" name="contacto" data-netlify="true" method="POST" id="my-form">
              <div class="container d-flex flex-column">
                 <div class="d-flex">
                  <lottie-player class="col-4 col-sm-2 col-md-2 col-lg-3 " src="https://assets8.lottiefiles.com/packages/lf20_G9sNM6.json" background="transparent" speed="1" style="width: 50px; height: 50px;" hover loop></lottie-player>
                    <input type="text" name="name" id="" class="text-box col-lg-9 col-md-10 col-sm-10 col-8" placeholder="Tu Nombre" required>
                  </div>
                  <div class="d-flex">
                  <lottie-player class="col-4 col-sm-2 col-md-2 col-lg-3" src="https://assets7.lottiefiles.com/packages/lf20_rAdMEz.json" background="transparent" speed="1" style="width: 50px; height: 50px;" hover loop></lottie-player>
                    <input type="email" name="email" id="" class="text-box col-lg-9 col-md-10 col-sm-10 col-8" placeholder="Tu Mail" required>
                  </div>
                  <div class="d-flex">
                    <lottie-player class="col-4 col-sm-2 col-md-2 col-lg-3" src="https://assets1.lottiefiles.com/packages/lf20_BrxeYT.json" mode="bounce" background="transparent" speed="1" style="width: 50px; height: 50px;" hover loop></lottie-player>
                    <textarea class="col-lg-9 col-md-10 col-sm-10 col-8" name="message" id="" rows="5" placeholder="Tu Mensaje" required></textarea>
                  </div>
                  </div>
                </div>
            
                <input data-aos="slide-up"  type="submit" name="submit" class="send-btn" value="Enviar">
              <p id="status"></p>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>