 <!--Hero-->

 <div id="barra" class="mt-5" data-0="transform:translateY(0%)" data-1000="transform:translateY(-100%)">
    <section data-index="0" class="quien py-4  ">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 col-sm-12 mt-5">
            <lottie-player data-aos="fade-up" data-aos-delay="1200"class="programador" src="https://assets7.lottiefiles.com/packages/lf20_xsnsvpbs.json" background="transparent" speed="1" loop autoplay></lottie-player>
          </div>
          <div class="col-12 text-center col-lg-6  col-sm-12 mt-5 ">
          <div class="container">
            <h1 data-aos="fade-up" data-aos-delay="1200" class="display-4 font-weight-bold text-primary">¿Quien soy?</h1>
            <h3 data-aos="zoom-out-left" data-aos-duration="1000"><span class="typed"></span></h3>
            <div id="transition" class="justify-content-center  transition">
              <div class="justify-content-center text-center d-flex align-items-center">
              <div class="col-5 col-sm-4 col-md-3 d-flex">
                <a href="https://www.linkedin.com/in/gabriel-nu%C3%B1ez-b6606514a/">
                  <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_g7zwhgv2.json" background="transparent" speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>
                </a>
              </div>
              <div class="col-5 col-sm-4 col-md-3 d-flex">
                <a href="https://github.com/tuenty">
                  <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_dgBN4P.json" background="transparent" speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>
                </a>
                </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

