<div class="navegacion">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a href="/" class="navbar-brand">
      <span class="nombre transition">Gabriel </span
      ><span class="apellido transition">Núñez</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a
          data-aos="fade-left"
          data-aos-delay="200"
          class="nav-link active"
          href="/"
          >¿Quien soy? <span class="sr-only">(current)</span></a
        >
        <a
          data-aos="fade-left"
          data-aos-delay="600"
          class="nav-link"
          href="#habilidades"
          >Conocimientos</a
        >
        <a
          data-aos="fade-left"
          data-aos-delay="1000"
          class="nav-link"
          href="#proyectos"
          >Proyectos</a
        >
        <a
          data-aos="fade-left"
          data-aos-delay="1400"
          class="nav-link"
          href="#contacto"
          >Contacto</a
        >
      </div>
    </div>
  </nav>
</div>
