<!--Proyectos-->
<section
  id="proyectos"
  data-aos-easing="ease-in-ou"
  data-aos="zoom-out"
  data-aos-offset="200"
  data-index="2"
  class="proyectos py-4"
>
  <h1
    data-aos="flip-up"
    data-aos-offset="200"
    class="text-center display-4 mb-5 mt-5 text-uppercase text-white font-weight-bold"
  >
    Mis Proyectos
  </h1>

  <div class="img-slider mx-auto mb-4">
    <div class="slide active">
      <a href="https://paginacontacto.netlify.app/"
        ><img
          loading="lazy"
          src="/images/freelancer.jpg"
          alt="proyecto freelancer"
      /></a>
      <div class="info">
        <h2>Proyecto 1</h2>
        <p>Maquetado de una pagina web de contacto con HTML y CSS</p>
      </div>
    </div>
    <div class="slide">
      <a href="https://blogdeviajesmenu.netlify.app/#"
        ><img loading="lazy" src="/images/blog.jpg" alt="proyecto freelancer"
      /></a>
      <div class="info">
        <h2>Proyecto 2</h2>
        <p>Maquetado de un Blog de viajes responsive con HTML y CSS</p>
      </div>
    </div>
    <div class="slide">
      <a href="https://practicacssgrid.netlify.app/"
        ><img loading="lazy" src="/images/ropa.jpg" alt="proyecto freelancer"
      /></a>
      <div class="info">
        <h2>Proyecto 3</h2>
        <p>
          Maquetado de una pagina de ventas de remeras con HTML y CSS (Grid)
        </p>
      </div>
    </div>
    <div class="slide">
      <a href="https://peaceful-albattani-05bab2.netlify.app/"
        ><img loading="lazy" src="/images/gastos.jpg" alt="proyecto freelancer"
      /></a>
      <div class="info">
        <h2>Proyecto 4</h2>
        <p>
          Aplicacion de gastos hecha en JavaScript que guarda la informacion en
          el LocalHost
        </p>
      </div>
    </div>
    <div class="slide">
      <a href="https://node-express-dog.herokuapp.com/"
        ><img loading="lazy" src="images/dog.jpg" alt="proyecto freelancer"
      /></a>
      <div class="info">
        <h2>Proyecto 5</h2>
        <p>Pagina desarrollada con Node Js,Express y Boostrap</p>
      </div>
    </div>

    <div class="navegacion">
      <div class="boton active"></div>
      <div class="boton"></div>
      <div class="boton"></div>
      <div class="boton"></div>
      <div class="boton"></div>
    </div>
  </div>
</section>
