<!--Habilidades-->

<section
  data-aos="fade-up"
  data-aos-offset="50"
  id="habilidades"
  data-index="1"
  class="habilidades py-4 text-center text-white"
>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <img
          src="/images/foto cv.png"
          alt="imagen"
          width="260"
          height="auto"
          alt="avatar"
          class="trans3d avatar img-fluid rounded-circle mb-5"
        />
        <div data-aos-offset="50" data-aos="zoom-in-up" class="col-12 md-5">
          <div class="contenedor">
            <div id="carousel">
              <figure>
                <img loading="lazy" src="/images/fullstack.jpg" alt="" />
              </figure>
              <figure>
                <img loading="lazy" src="/images/github.jpg" alt="" />
              </figure>
              <figure>
                <img loading="lazy" src="/images/boostrap.jpg" alt="" />
              </figure>
              <figure>
                <img loading="lazy" src="/images/nodejs.jpg" alt="" />
              </figure>
              <figure>
                <img loading="lazy" src="/images/php.jpg" alt="" />
              </figure>
              <figure>
                <img loading="lazy" src="/images/sql.jpg" alt="" />
              </figure>
              <figure>
                <img loading="lazy" src="/images/angular.jpg" alt="" />
              </figure>
              <figure>
                <img loading="lazy" src="/images/scrum.jpg" alt="" />
              </figure>
              <figure>
                <img loading="lazy" src="/images/javascript.jpg" alt="" />
              </figure>
            </div>
          </div>

          <div class="col-12 display-1 mt-5 min-with">
            <i
              data-aos="slide-right"
              data-aos-offset="100"
              class="fab fa-node"
            ></i>
            <i
              data-aos="slide-right"
              data-aos-offset="100"
              class="fab fa-js"
            ></i>
            <i
              data-aos="slide-right"
              data-aos-offset="100"
              class="fab fa-html5"
            ></i>
            <i
              data-aos="slide-left"
              data-aos-offset="100"
              class="fab fa-css3-alt"
            ></i>
            <i
              data-aos="slide-left"
              data-aos-offset="100"
              class="fab fa-php"
            ></i>
            <i
              data-aos="slide-left"
              data-aos-offset="100"
              class="fab fa-bootstrap"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
